
#map {
    width:80%; 
    height:  700px;
    /* background: #ddd; */
    margin: 0 auto;

}
#form {
    border-radius: 15px;
    width:80%; 
    margin: 0 auto;
    color: white;
    /* background-color: rgba(0, 0, 0, 0.6); */


}
img{
    border-radius: 300px;
}
#moto {
    
    width:60%; 
    height:  80%;
    margin-left: 20%;
    margin-block: 5%;
}
#aguarde{
    width:100%; 
    margin: 0 auto;
}
.select{
    text-align: center;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-image: url('../img/ubaitaba.jpg');
    background-size: 110%;
    background-repeat: no-repeat;
    
}
.box{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 15px;
    width: 20%;
}
fieldset{
    border: 3px solid rgba(255, 30, 75, 0.559);
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15px;

    /* background-color: rgba(247, 242, 242, 0.6);   */
}
legend{
    border: 1px solid rgb(255, 30, 75, 0.559);
    padding: 10px;
    text-align: center;
    background-color: rgb(255, 30, 75, 0.559);
    border-radius: 8px;
}
.inputBox{
    position: relative;
}

.inputUsuario{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}
.labelInput{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}
.inputUsuario:focus ~ .labelInput,
.inputUsuario:valid ~ .labelInput{
    top: -20px;
    font-size: 12px;
    color: rgb(255, 30, 75, 0.559);
}

#botao{
    background-image: linear-gradient(to right,rgb(197, 0, 0), rgb(220, 20, 143));
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}
#botao:hover{
    background-image: linear-gradient(to right,rgb(172, 0, 0),rgb(195, 19, 151));
}